@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Light";
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto Medium";
    src: url(fonts/Roboto-Medium.ttf);
}

html{
    font-family: Roboto;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
}
/*1st Division of Landing Page*/
.header-section{
    background-color: #1F2937;
    margin: 0;
    padding: 10px 90px 100px;
}

.header-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo-and-nav-bar{
    display: flex;
}

.logo-and-nav-bar{
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mind-matter,
.nav-links{
    display: flex;
}

.logo-and-nav-bar h1{
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: "Roboto Light";
    padding: 0;
    gap: 100px;
}

.hero-and-image{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hero-text h2{
    color: #F9FAF8;
    font-size: 48px;
}

.hero-text p{
    color: #F9FAF8;
    font-family: "Roboto Medium";
    font-size: 24px;
    margin: 12px 0;
}

.hero-text{
    width: 800px;
}

.hero-image{
    display: flex;
    align-items: center;
}

.hero-image img{
    max-width: 100%;
    height: 300px;
    width: 800px;
    flex: 1 1 auto;
    display: inline-block;
}

button{
    height: 40px;
    width: 120px;
    font-family: "Roboto Medium";
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 10px;
    border-style: none;
}

/*INFOGRAPHICS SECTION*/
.fig img{
    max-width: 100%;
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.infographics-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.infographics{
    display: flex;
    max-width: 90%;
    font-size: 1.3em;

}

.infographics-intro{
    display: flex;
    justify-content: center;
}
.infographics-intro h2{
    margin: 0;
    padding: 30px;
    font-size: 1.7em;
}

.fig{
    text-align: center;
    padding: 10px;
}

.fig figcaption{
    font-family: "Roboto Light";
}

figcaption p{
    max-width: 255px;
}

/*QUOTE SECTION*/
.quote-section{
    background-color: #E5E7EB;
    margin: 0;
    display: flex;
    justify-content: center;
}

.quote{
    padding: 70px 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 75%;
}

.quote em{
    font-family: "Roboto Light";
    font-size: 36px;
}

.quote strong{
    align-self: flex-end;
    font-family: "Roboto Medium";
    font-size: 1.3em;
}

/*CALL-TO-ACTION SECTION*/
.call-to-action-section{
    display: flex;
    justify-content: center;
    padding: 80px 120px;
}

.call-to-action{
    background-color: #3882F6;
    max-width: 90%;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    border-radius: 12px;
}

.cta-item{
    flex: 1 1 0;
}

.cta-h4-p{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3em;
}

.cta-button{
    display: flex;
    justify-content: flex-end;
}

.cta-h4-p h4,
.cta-h4-p p{
    margin: 5px 0px;
}

.cta-h4-p h4{
    color: #F9FAF8;
}

.cta-h4-p p{
    color: #F9FAF8;
    font-family: "Roboto Light";
}

.cta-button button{
    font-size: 1.3em;
    color: #F9FAF8;
    border: solid #E5E7EB;
    box-sizing: content-box;
    padding: 2px 15px;
}

/*FOOTER SECTION*/
footer{
    background-color: #1F2937;
}

.copyright-text{
    color: #F9FAF8;
    text-align: center;
    font-family: "Roboto Light";
    font-weight: 600;
    font-size: 1.1em;
    padding: 40px 0;
}